.breadCrumbs {
    font-family: 'Arial', serif;
    background-color: $breadCrumbs-background;
    color: $white;
    font-weight: bold;
    font-size: 14px;

    ul {

        margin: 0px;
        padding: .7rem .8rem .7rem .8rem;

        li {
            margin: 0 5px 0 5px;
            display: inline;
            color: $gray;

            &:hover{
                color: $white;
            }
        }

        li:before {
            content: none;
        }

        li:after {
            content: " >";
        }


        .currentLink {
            color: $white;

            &:after {
                content: none;
            }
        }
    }
}
