.actionBar {
    font-family: 'Arvo', serif;
    @include span-columns(12);
    color: $white;
    display: none;
    font-weight: bold;


    @include media ($medium-screen) {
        display: block;
    }

    .userInfo {
        float: left;

    }

    .userPicture {
        background: $dark-transparent;
        display: inline;
        float: left;
        padding: 5px 15px 0px 5px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            padding: 2px;
            border: 2px solid #484a4f;
        }

        p {
            display: inline-block;
            font-size: .78em;
            vertical-align: top;
            padding-left: 10px;
            padding-top: 7px;
        }
    }

    .userSettings {
        background: $dark-transparent;
        display: inline;
        float: left;
        padding: 12px 15px 6px 15px;
        margin-left: 3px;
    }

    .tools {
        float: right;
        display: inline;
        margin: 0px;
        .tool {
            background: $dark-transparent;
            display: inline-block;
            margin-left: 5px;
            padding: 8px 15px 1px 15px;

            &:before {
                content: none;
            }

            img {
                padding: 5px;
            }
        }
    }
}
