<div class="container">
  <div class="row">
    <div class="col s12">
    </div>
  </div>

  <!-- <ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-class="{'active':  tab == 'routes'}"><a ng-click="tabClicked('routes')">Routes</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'routesDistro'}"><a ng-click="tabClicked('routesDistro')">Routes Set Distribution</a></li>
    <li role="presentation" ng-class="{'active':  tab == 'holds'}"><a ng-click="tabClicked('holds')">Hold Usage Distribution</a></li>
  </ul> -->

  <div class="row">
    <div class="col s12">
      <ul id="user-tabs" class="tabs z-depth-1">
        <li class="tab col s4 m4 l2"><a class="active" href="#tabRoutes">Routes</a></li>
        <li class="tab col s4 m4 l5"><a href="#tabRoutesSetDistribution">Set Distribution</a></li>
        <li class="tab col s4 m4 l5"><a href="#tabUserInfo">Info</a></li>
      </ul>
    </div>
    <!-- <div id="routes" class="col s12">Routes</div>
    <div id="routesSetDistribution" class="col s12">Routes Set Distribution</div>
    <div id="holdUsageDistribution" class="col s12">Hold Usage Distribution</div> -->
  </div>


  <div id="tabRoutes" class="tab-page">
    <table class="bordered centered hoverable">
      <thead>
        <tr>
          <!-- <th class="th-col s2 m3 l3"><a href="" ng-click="predicate = 'attributes.name'; reverse=!reverse">Name</a></th> -->
          <!-- <th class="th-col s2 m1 l1"><a href="" ng-click="predicate = 'attributes.color'; reverse=!reverse">Color</a></th> -->
          <th class=""><a href="" ng-click="predicate = 'attributes.grade'; reverse=!reverse">Grade</a></th>
          <!-- <th><a href="" ng-click="predicate = 'attributes.setterComments'; reverse=!reverse">Setter's Comments</a></th> -->
          <!-- <th><a href="" ng-click="predicate = 'attributes.risk'; reverse=!reverse">Risk</a></th> -->
          <!-- <th><a href="" ng-click="predicate = 'attributes.intensity'; reverse=!reverse">Intensity</a></th> -->
          <!-- <th><a href="" ng-click="predicate = 'attributes.complexity'; reverse=!reverse">Complexity</a></th> -->
          <th class=""><a href="" ng-click="predicate = 'attributes.status'; reverse=!reverse">Status</a></th>
          <th class=""><a href="" ng-click="predicate = 'createdAt'; reverse=!reverse">Created On</a></th>
          <th class="">View</td>
        </tr>
      </thead>
      <tbody id="routesTable">
        <tr ng-repeat="route in user.attributes.routes | orderBy:predicate:reverse | filter:search:strict">
          <!-- <td>{{route.attributes.name}}</td> -->
          <!-- <td ng-style="{'background-color': route.attributes.color}"></td> -->
          <td><img ng-click="openGradeSelectModal(route)" ng-src="images/grades/{{route.attributes.color + route.attributes.grade}}.png" style="width: 50px"></td>
          <!-- <td>{{route.attributes.setterComments}}</td> -->
          <!-- <td>{{route.attributes.risk}}</td> -->
          <!-- <td>{{route.attributes.intensity}}</td> -->
          <!-- <td>{{route.attributes.complexity}}</td> -->
          <td><img ng-click="openStateSelectModal(route)" ng-src="images/states/state{{route.attributes.status}}.png" style="width: 50px" class="z-depth-4"></td>
          <td>{{(route.createdAt.getMonth() + 1) + "/" + route.createdAt.getDate() + "/" + route.createdAt.getFullYear()}}</td>
          <td><button class="btn btn-primary" ng-click="editRoute(route)">View</button></td>
        </tr>
      <tbody>
    </table>
  </div>

  <div id="tabRoutesSetDistribution" class="tab-page">
    <div class="row">
      <div class="col s12">
        <route-distribution></route-distribution>
      </div>
    </div>
  </div>


  <div id="tabUserInfo" class="tab-page">
    <div class="row card-panel">
      <div class="col s12">
          <form name="userInfoForm">
              <!-- first row of inputs -->
              <div class="row">
                  <div input-field class="col s3">
                      <input id="user_name" type="text" class="" ng-model="user.attributes.username" required>
                      <label for="user_name">Username</label>
                  </div>

                  <!-- <div input-field class="col s3">
                      <input id="password" type="password" class="validate" ng-model="user.attributes.password">
                      <label for="password">Password</label>
                  </div> -->

                  <div input-field class="col s3">
                      <input id="email" type="email" class="validate" ng-model="user.attributes.email">
                      <label for="email">Email</label>
                  </div>

                  <div class="input-field col s4 offset-s2">
                      <select mat-select="attributes.name" ng-model="user.attributes.currentGym" name="gym" ng-options="gym as gym.attributes.name for gym in gyms" ng-change="setUserGym(user)" required>
                        <!-- <option value="" disabled selected>Choose Setter</option> -->
                      </select>
                      <label for="gym">Gym</label>
                  </div>
              </div>

              <!-- second row of inputs -->
              <div class="row">

              </div>

              <!-- third row of inputs -->
              <div class="row">
                  <div class="input-field col s4">
                      <button class="waves-effect waves-light btn" ng-disabled="user.attributes.email===undefined || user.attributes.email===''" ng-click="resetPassword()">Reset Password</button>
                  </div>
                  <div class="input-field col s4 offset-s4">
                      <button class="waves-effect waves-light btn" ng-disabled="userInfoForm.$pristine || userInfoForm.$invalid" ng-click="saveUser()">Save</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>


</div>

<grade-select-modal></grade-select-modal>
<state-select-modal></state-select-modal>
