<div class="container">
  <div class="row valign-wrapper">
    <div class="col s12">
      <h3>Users</h3>
    </div>
    <!-- <div class="col s9 valign">
      <div class="">
        <a id="gymDropdown" class='dropdown-button btn' href='#' data-dropdown-options='{"inDuration": 300,"outDuration": 225,"constrain_width": false,"hover": false,"gutter": 0,"belowOrigin": true}' data-activates='gymDropdownList'>{{gym.attributes.name}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
      </div>
      <ul id='gymDropdownList' class='dropdown-content'>
        <li mat-dropdown-item="onMenuSelect(gym)" ng-repeat-start="gym in gyms">
          <a href="#!">{{gym.attributes.name}}</a>
        </li>
        <li ng-repeat-end class="divider"></li>
      </ul>
    </div> -->
  </div>

  <div class="row">
    <users-table></users-table>
  </div>

</div>
