<table id="users-table" class="bordered centered hoverable card-panel">
  <thead>
    <tr>
      <th class="th-col s2 m2 l2">Name</th>
      <th class="th-col s1 m1 l1"># of Routes</th>
      <th class="th-col s2 m2 l2">Color Most Set</th>
      <th class="th-col s2 m2 l2">Grade Most Set</th>
      <th class="th-col s2 m2 l2">Favorite Theme</th>
      <th class="th-col s1 m1 l1">Setter</th>
      <th class="th-col s2 m2 l2"></th>
    </tr>
  </thead>
  <tbody id="users-table-body">
    <tr ng-repeat="user in users">
      <td>{{user.attributes.username}}</td>
      <td id="{{user.id}}-routes-length"></td>
      <td id="{{user.id}}-most-color"></td>
      <td id="{{user.id}}-most-grade"></td>
      <td id="{{user.id}}-most-theme"></td>
      <td>
        <div class="switch">
          <label>
            <!-- Off -->
            <input data-user-id="{{user.id}}" ng-model="user.attributes.setter" type="checkbox">
            <span class="auto-center lever"></span>
            <!-- On -->
          </label>
        </div>
      </td>
      <td><button class="btn btn-primary" ng-click="viewUser(user)">View</button></td>
    </tr>
  <tbody>
</table>
