.footer {
    font-family: 'Arial', sans-serif;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $medium-screen: em(640) !default;
    $large-screen: em(860) !default;
    $footer-background: desaturate(darken($action-color, 20%), 30%);
    $footer-color: white;

    background-color: $primary-black;
    padding: 1.8em 20px 1.8em 20px;
    width: 100%;

    .game-logo {
        margin-bottom: .5em;
        text-align: left;
        display: none;
        img {
            max-height: 60px;
            max-width: 150px;
        }

        @include media($large-screen) {
            @include span-columns(2);
            display: block;
        }
    }

    .footer-links {
        @include span-columns(12);
        @include clearfix;
        margin-bottom: .5em;
        text-align: center;

        @include media($large-screen) {
            @include span-columns(6);
            ul {
                margin-left: 2em;
            }
        }
    }

    .playfab-logo {
        @include span-columns(2);
        margin-bottom: .5em;
        margin-top: .5em;
        text-align: center;
        display: none;
        img {
            max-height: 60px;
        }

        @include media($large-screen) {
            @include span-columns(2);
            display: block;
        }
    }

    .duxter-logo {
        @include span-columns(2);
        margin-bottom: .5em;
        margin-top: .5em;
        text-align: right;
        display: none;
        img {
            max-height: 60px;
        }

        @include media($large-screen) {
            @include span-columns(2);
            display: block;
        }
    }

    .disclaimer {
        @include span-columns(8);
        @include shift(2);
        font-size: .8em;
        font-weight: 400;
        text-align: center;
        color: $gray;
    }

    .socialIcons {
        @include span-columns(12);
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
        li {
            margin: 5px;
        }
        img {
            height: 2.5em;
        }
    }

    ul {
        margin-bottom: $base-spacing;
        padding: 0;

        @include media($medium-screen) {

        }
    }

    li {
        line-height: 1.5em;
        list-style: none;
        text-align: center;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;

        @include media($medium-screen) {
            text-align: left;
        }

        &:before {
            content: none;
        }
    }

    li a {
        color: $gray;
        text-decoration: none;
        font-size: .9em;
        font-weight: 400;
        margin-bottom: 0.4em;
        cursor: pointer;


        &:focus,
        &:hover {
            color: transparentize($footer-color, 0);
        }
    }
}
