nav {

    background-color: #00bcd4;
    a {
        color: white;
        &:hover {
            color: white;
        }
    }

    li {
        &:hover {
            background-color: #00838f;
        }
    }
}
