
.auto-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.toast.error {
    background-color: map-get($red, 'base');
    // left:auto;
    // right: 50%;
}

.toast.success {
    background-color: map-get($green, 'base');
    // left:auto;
    // right: 50%;
}
