/** ALL **/
$dark-transparent: rgba(22,25,32,.9);
$light-transparent: rgba(52, 52, 52, 0.35);
$white: #FFFFFF;
$primary-black: #000000;
$gray: #a2a2a2;
$dark-gray: #65696B;

/* NavBar */
$navbar-background: $dark-transparent;
$navbar-link: $gray;

/* ActionBar */
$actionBar-background: $primary-black;


/* BreadCrumbs */
$breadCrumbs-background: $primary-black;
$current-link: $gray;

/* Footer */
$footer-background: $primary-black;
