$content-min-height: 300px;

/************ General Page Elements */
.row-wrapper {
  @include row();

  &:nth-child(odd) {

  }

  .outer-container {
    @include outer-container;
  }
}

html {
    height: 100%;
}

body {
    font-family: "Orbitron", sans-serif;
    height: 100%;
}

.content {
    min-height: $content-min-height;
    @include media ($small-screen) {
        margin-right: auto;
        margin-left: auto;

    }
}

.ui-view-container {
  position: relative;
  min-height: $content-min-height;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;

}

[ui-view].ng-leave-active {
  opacity: 0;
}

.mapContent {

    img {
        height: auto;
    }

    area {
        background-color: blue;
    }

}
