<div id="routeTable">
  <table class="bordered centered hoverable responsive-table">
    <thead>
      <tr>
        <th class="th-col s2 m2 l2"><a href="" ng-click="predicate = 'attributes.order'; reverse=!reverse">Color</a></th>
        <th class="th-col s2 m2 l2"><a href="" ng-click="predicate = 'attributes.status'; secondary = 'attributes.order'; reverse=!reverse">Status</a></th>
        <th class="th-col s2 m2 l2"><a href="" ng-click="predicate = 'attributes.setter.attributes.username'; secondary = 'attributes.order'; reverse=!reverse">Setter</a></th>
        <th class="th-col s2 m2 l2">View</th>
        <th class="th-col s2 m2 l2">Delete</th>
      </tr>
    </thead>
    <tbody id="routesTable">
      <tr ng-repeat="route in routes | orderBy:[predicate, secondary]:reverse | filter:search:strict" class="routeRow">
        <td>
          <img ng-click="openGradeSelectModal(route)" ng-src="images/grades/blue5.png" style="width: 50px">
        </td>
        </td>

        <td ng-class="{status0: route.attributes.status == '1', status1: route.attributes.status == '2', status2: route.attributes.status == '3', status3: route.attributes.status == '4', status4: route.attributes.status == '5', status5: route.attributes.status == '6', status6: route.attributes.status == '6' }">
          <!-- <select class="form-control" ng-model="route.attributes.status" name="status" style="font-size: 33px" ng-change="changeStatus(route)">
            <option value="0"> </option>
            <option value="1">&#8739</option>
            <option value="2">&#8735</option>
            <option value="3">&#8852</option>
            <option value="4">&#9744</option>
            <option value="5">&#9746;</option>
            <option value="6">&#9745;</option>
          </select> -->
          <div>
            {{route.attributes.status}}
          </div>
        </td>
        <td>
          <!-- <select class="form-control" ng-model="route.attributes.setter" name="setter" ng-options="setter as setter.attributes.username for setter in setters" ng-change="saveRoute(route)">
            <option></option>
          </select> -->
          <div>
            {{route.attributes.setter.attributes.username}}
          </div>
        </td>
        <td><button class="btn btn-primary" ng-click="viewRoute(route)">View</button></td>
        <td><button class="btn btn-danger" ng-click="deleteRoute(route)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<grade-select-modal></grade-select-modal>
