<a class="btn-floating btn-large waves-effect waves-light green" style="position: fixed; right: 7%; top: 25%;"><i class="material-icons" ng-click="addRoute()">add</i></a>
<a class="btn-floating btn-large waves-effect waves-light red" style="position: fixed; right: 7%; top: 40%;"><i class="material-icons" ng-click="replaceRoutes()">repeat</i></a>

<div id="routeTable" class="routeTable card-panel">
  <table class="bordered centered hoverable responsive-table">
    <thead>
      <tr>
        <th><a href="" ng-click="predicate = 'attributes.order'; reverse=!reverse">Grade</a></th>
        <th><a href="" ng-click="predicate = 'attributes.status'; secondary = 'attributes.order'; reverse=!reverse">Status</a></th>
        <th><a href="" ng-click="predicate = 'attributes.setter.attributes.username'; secondary = 'attributes.order'; reverse=!reverse">Setter</a></th>
        <th>Notes</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody id="routesTable">
      <tr ng-repeat="route in routes | orderBy:[predicate, secondary]:reverse | filter:search:strict" class="routeRow">
        <td>
          <img ng-click="openGradeSelectModal(route)" ng-src="images/grades/{{route.attributes.color + route.attributes.grade}}.png" style="width: 50px">
        </td>
        <td>
          <img ng-click="openStateSelectModal(route)" ng-src="images/states/state{{route.attributes.status}}.png" style="width: 50px" class="z-depth-4">
        </td>
        <td>
          <div class="input-field col s12">
            <select mat-select="attributes.username" class="routeSetterSelect" ng-model="route.attributes.setter" ng-change="changeSetter(route)" ng-options="setter as setter.attributes.username for setter in setters">
            </select>
          </div>
        </td>
        <td>
          <div class="input-field col s12">
            <input placeholder="Notes" id="first_name" type="text" class="validate" ng-model="route.attributes.notes" ng-change="setNote(route)">
          </div>
        </td>

        <td><button class="btn red lighten-1" ng-click="removeRoute(route)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>

<grade-select-modal></grade-select-modal>
<state-select-modal></state-select-modal>
