<div id="stateSelectModal" class="modal gradeSelectModal">
  <div class="modal-content">
    <h4>Status Select</h4>
    <div class="row">
      <div class="col s4">
        <img ng-src="images/states/state1.png" ng-click="selectState(1)" ng-class="{'selected': currentState == 1}" class="z-depth-4">
      </div>
      <div class="col s4">
        <img ng-src="images/states/state2.png" ng-click="selectState(2)" ng-class="{'selected': currentState == 2}" class="z-depth-4">
      </div>
      <div class="col s4">
        <img ng-src="images/states/state3.png" ng-click="selectState(3)" ng-class="{'selected': currentState == 3}" class="z-depth-4">
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <img ng-src="images/states/state4.png" ng-click="selectState(4)" ng-class="{'selected': currentState == 4}" class="z-depth-4">
      </div>
      <div class="col s4">
        <img ng-src="images/states/state5.png" ng-click="selectState(5)" ng-class="{'selected': currentState == 5}" class="z-depth-4">
      </div>
      <div class="col s4">
        <img ng-src="images/states/state6.png" ng-click="selectState(6)" ng-class="{'selected': currentState == 6}" class="z-depth-4">
      </div>
    </div>
  </div>
</div>
