<div class="row">
    <div class="col s12">
        <ul id="gym-info" class="tabs z-depth-1">
            <li class="tab col s3"><a class="active" href="#idealTab">Ideal</a></li>
            <li class="tab col s3"><a href="#routeDistTab">Route Distribution</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row"></div>

    <div class="row">
        <div id="idealTab" class="col s12 tab-page">
            <form name="gymForm">
                <div class="row valign-wrapper card-panel">
                    <div class="input-field col s4">
                        <input ng-model="gym.attributes.name" type="text" name="name" class="" id="name" required/>
                        <label class="active" for="name">Name</label>
                    </div>
                    <div class="col s1 offset-s4">
                        <button class="btn btn-danger"  ng-click="deleteGym()">Delete</button>
                    </div>
                    <div class="col s1 offset-s1">
                        <button class="btn btn-primary" ng-disabled="gymForm.$invalid || gymForm.$pristine" ng-click="saveGym()">Save</button>
                    </div>
                </div>

                <!-- <div class="row"> -->
                <!-- <div class="col s12"> -->
                <!-- <h3>Idealistic Route Numbers</h3> -->
                <!-- </div> -->
                <!-- </div> -->
                <div class="card-panel">
                    <sbp-table ng-show="gym.id === '4WChpaHxDE'" gym="gym"></sbp-table>
                    <abp-table ng-show="gym.id === 'R8RIKvxO0t'" gym="gym"></abp-table>
                </div>

                <!-- <div class="page-header"></div> -->
                <div class="row">
                </div>
            </form>
        </div>

        <div id="routeDistTab" class="col s12 tab-page">
            <route-distribution ideal="true" gym="gym"></route-distribution>
        </div>

    </div>

</div>
